
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&display=swap');
*{ font-family: "Open Sans";
    position: -webkit-sticky; /* for Safari users */
}


body {
	background: linear-gradient(-45deg, #e01616, #a718b7, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}







h1{
    
    
    text-align:center ;
}
  p{

  
   position: relative;
    left: 165px;

} 
.pageList{
  list-style-image: url("./images/ravens.svg");
  position: relative;
   left: 165px;

}
 


svg{
  height: 200px;
  width: 200px;
}
  



#navUl {
    
  
    margin: 0;
    padding: 0;
    overflow: hidden;
   list-style-type: none;
    
  }


.navLi{
  
  float:left;
  
}





 .navA {
    text-align: center;
    position: relative;
    padding:8px 12.5px 10px;
    display: block;
    color: #ffffff;
    width: 125px;
    text-decoration:none;
    transition: transform .2s;
  }

 
  @keyframes bounce {
    0% { transform: translateY(0); }
    50%  { transform: translateY(-50px); }
    100% { transform: translateY(0); }
  }
  .navA:hover {
    transform: scale(1.2);
    background-color: #2d75ce;
    color: white;
    animation-name: bounce;
    animation-timing-function: ease;
}
   
div{
  transition: opacity 0.8s linear;
}

.hidden {
  display: none;
}

.visuallyhidden {
  opacity: 0;
}