
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&display=swap');
*{ font-family: "Open Sans";
    position: -webkit-sticky; /* for Safari users */
    box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
}

body {
  
  display: absolute;
  
  
	background: linear-gradient(-45deg, #e01616, #380c9e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}







h1{
    
    
    text-align:center ;
}
  p{

  
   position: relative;
    left: 0px;

} 
.pageList{
  list-style-image: url("./images/ravens.svg");
  position: relative;
   left: 0px;

}
 


svg{
  height: 200px;
  width: 200px;
}
  



#navUl {
    
  
    margin: 0;
    padding: 0;
    overflow: hidden;
   list-style-type: none;
    
  }


.navLi{
  
  float:left;
  
}


input[type=radio] {
  display: none;
}

.container {
  width: 100%;
  
  height: 100%;
  max-width: 900px;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
  flex-direction: column;
  
}
.card {
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform .4s ease;
  cursor: pointer;
}

.cards {
  top: 70px;
  left:50%;
  position: absolute;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  perspective: 1000px;
}
img {
  margin: 0;
  padding: 0;
  width: 300px;
  height: 500px;
  border-radius: 10px;
  object-fit: contain;
}


#item1:checked ~ .cards #pic3, #item2:checked ~ .cards #pic1, #item3:checked ~ .cards #pic2 {
  transform: translatex(-40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item1:checked ~ .cards #pic2, #item2:checked ~ .cards #pic3, #item3:checked ~ .cards #pic1 {
  transform: translatex(40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item1:checked ~ .cards #pic1, #item2:checked ~ .cards #pic2, #item3:checked ~ .cards #pic3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;

  
}



#name{
    float:right;
    position: relative;
    padding:8px 12.5px 10px;
    display: inline;
    color: #ffffff;
    width: 140px;


}




 .navA {
    text-align: center;
    position: relative;
    padding:8px 12.5px 10px;
    display: block;
    color: #ffffff;
    width: 125px;
    text-decoration:none;
    transition: transform .2s;
  }

 
  @keyframes bounce {
    0% { transform: translateY(0); }
    50%  { transform: translateY(-50px); }
    100% { transform: translateY(0); }
  }
  .navA:hover {
    transform: scale(1.2);
    
    color: white;
    animation-name: bounce;
    animation-timing-function: ease;
}
   
div{
  transition: opacity 0.8s linear;
}

.hidden {
  display: none;
}

.visuallyhidden {
  opacity: 0;
}